@import "../../scss/responsive.scss";

.card {
  display: flex;
  gap: 20px;
  //   border: 1px solid green;
  padding-right: 6px;
  border-radius: 6px;
  transition: all 0.4s ease;

  @include sm {
    gap: 10px;
  }

  &:hover {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px,
      rgb(209, 213, 219) 0px 0px 0px 1px inset;
  }

  .image-container {
    flex: 2;
    height: 200px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 6px 0 0 6px;
    }
  }
  .description-container {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
    padding: 6px 0;

    @include sm {
      flex: 2;
      padding: 0;
    }

    .title {
      font-size: 18px;
      font-weight: 600;
      color: #444;

      @include sm {
        font-size: 16px;

        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;

        /* Modern browsers */
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
    }

    img {
      width: 16px;
      height: 16px;
      object-fit: contain;
    }

    .address {
      font-size: 14px;
      display: flex;
      align-items: center;
      gap: 5px;
      color: #888;
    }

    .price {
      font-size: 16px;
      font-weight: 300;
      padding: 5px;
      border-radius: 4px;
      background: rgba(254, 205, 81, 0.438);
      width: fit-content;
    }

    .bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 8px;

      @include sm {
        flex-direction: column;
      }

      .features {
        display: flex;
        gap: 18px;
        font-size: 14px;

        @include sm {
          gap: 8px;
        }

        .feature {
          display: flex;
          align-items: center;
          gap: 6px;
          background: whitesmoke;
          padding: 4px;
          border-radius: 4px;

          @include sm {
            gap: 4px;
            font-size: 10px;
          }
        }
      }

      .icons {
        display: flex;
        align-items: center;
        gap: 16px;

        @include sm {
          width: 100%;
          justify-content: space-between;
        }

        .icon {
          border: 0.5px solid #999;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 6px 3px;
          border-radius: 4px;
          cursor: pointer;
          transition: all 0.4s ease-in;

          &:hover {
            background: lightgray;
          }
        }
      }
    }
  }
}
