@import "../../scss/responsive.scss";

.chat {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;

  .messages {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: 100%;
    overflow-y: scroll;

    h2 {
      font-weight: 300;
    }

    .messages-container {
      display: flex;
      flex-direction: column;
      gap: 24px;
      padding: 16px 0;
      max-height: 400px;
    }
  }

  .chat-box {
    flex: 1;
    position: sticky;
    position: -webkit-sticky;
    bottom: 0;
    background: white;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .top {
      background: #f7c14b85;
      padding: 16px;
      font-weight: bold;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .user {
        display: flex;
        align-items: center;
        gap: 16px;

        img {
          width: 32px;
          height: 32px;
          object-fit: cover;
          border-radius: 50%;
        }

        .username {
          font-size: 16px;
        }
      }
    }

    .center {
      overflow: scroll;
      height: 350px;
      padding: 16px;
      display: flex;
      flex-direction: column;
      gap: 16px;

      .chat-message {
        width: 50%;

        &.my-message {
          align-self: flex-end;
          text-align: right;
        }

        p {
          font-size: 14px;
        }

        span {
          font-size: 12px;
          background: #f7c14b85;
          padding: 2px;
          border-radius: 4px;
        }
      }
    }

    form.bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-top: 1px solid #f7c14b85;
      height: 60px;

      .text-area {
        flex: 4;
        border: none;
        outline: none;
        height: 100%;
        padding: 16px;
      }

      button {
        flex: 1;
        background: #f7c14b85;
        height: 100%;
        border: none;
      }
    }
  }
}

.message {
  display: flex;
  gap: 16px;
  height: max-content;
  align-items: center;
  padding: 12px;
  background: white;
  border-radius: 8px;
  cursor: pointer;

  img {
    width: 48px;
    height: 48px;
    object-fit: cover;
    border-radius: 50%;
  }

  .message-content {
    display: flex;
    flex-direction: column;
    gap: 4px;

    span {
      font-weight: 600;
      font-size: 18px;
    }

    em {
      font-size: 16px;
      font-style: italic;

      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
      -webkit-line-clamp: 1;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }
}
