@import "../../scss/responsive.scss";

.profile {
  display: flex;

  @include md {
    flex-direction: column;
    overflow: scroll;
  }

  .details {
    flex: 3;
    padding-bottom: 40px;

    .wrapper {
      padding-right: 48px;
      display: flex;
      flex-direction: column;
      gap: 40px;

      @include sm {
        padding-right: 0;
      }

      .title {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h2 {
          font-weight: 300;

          @include sm {
            font-size: 16px;
          }
        }

        a {
          padding: 12px 24px;
          background: #fece51;
          border: none;
          cursor: pointer;
        }
      }

      .info {
        display: flex;
        flex-direction: column;
        gap: 18px;

        span {
          display: flex;
          align-items: center;
          gap: 16px;
        }

        img {
          width: 48px;
          height: 48px;
          border-radius: 50%;
          object-fit: cover;
        }

        button {
          width: 100px;
          background: teal;
          border: none;
          padding: 8px 16px;
          color: #fcf5f3;
          cursor: pointer;
        }
      }
    }
  }

  .chat-container {
    flex: 2;
    background: #fcf5f3;

    .wrapper {
      padding: 0 16px;
    }
  }
}
